* {
    
    font-family:sans-serif;
    color:cornflowerblue;
}

nav {
    
    text-align: right;
    background-color: #081827;
}

body {
    
    background-color: #0E1118;
}
#welcome {
    
    height: 25%;
}
#trending {
    
    height: 25%;
}
#genre {
    
    height: 25%;
}

h1{
    
    text-align: left;
}

h2 {

    background-color: #081827;
    
}

h3{
    
    background-color: #081827;
    
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
    
}


img {
    float: left;
}

.sidebar {
        width: 420px; height: 800px; border: 1px solid black; margin: 0 auto;
        float:right; 
    }






