<!DOCTYPE html>
<html>

<head>
    <title>Add Game</title>
    {% include("head.html") %}
</head>

<body>
    {% include("nav.html") %}

    <div class="formBox">
        <form method="POST">
            <h1>Add a publisher or developer</h1>
            <label for="publisherName">Name</label><br>
            <input type="text" id="publisherName" name="publisherName" {% if publisherName %} value="{{ publisherName }}" {% endif %} required><br>
            <input type="submit" value="Add Publisher/Developer">
        </form>
    </div>

    {% if error %}
        <h1 class="error">{{ error }}</h1>
    {% endif %}
</body>

</html>