<!DOCTYPE html>
<html>

<head>
    <title>All Games</title>
    {% include("head.html") %}
</head>

<body>
    {% include("nav.html") %}

    <ul>
        {% for game in games %}
            <li>
                <a href="/game/{{ game[0] }}">{{ game[0] }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Add game</h2>
    <p><a href="/games/add">Add game</a></p>
    <p><a href="/games/addGenre">Add genre</a></p>
    <p><a href="/games/addPublisher">Add publiher or developer</a></p>
</body>

</html>