<!DOCTYPE html>
<html>

<head>
    <title>All Games</title>
    {% include("head.html") %}
</head>

<body>
    {% include("nav.html") %}

    <ul>
        {% for game in games %}
            <li>
                <a href="/game/{{ game[0] }}">{{ game[0] }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class = "rightSideBar">
    <h2>Add Game</h2>
    <p><a class = "gameAdd" href="/games/add">Add Game</a></p>
    <p><a class = "gameAdd" href="/games/addGenre">Add Genre</a></p>
    <p><a class = "gameAdd" href="/games/addPublisher">Add Publisher or Developer</a></p>
    </div>

</body>

</html>