<html>

<head>

<img src= "" alt= "Mung Gaming Logo">
 

    <nav>
   <h1> Mung Gaming </h1>       
    <a id = "user"> USER </a>
    <a id = "games">GAMES</a>
    <a id = "lists">LISTS</a>
    <a id = "profile">PROFILE</a>
    <a id = "logOut"> LOG OUT</a>

    </nav>
    
</head>   

<body>
<div class = "titleContainer">

    <h2> Welcome back [USER]. Here's what we've been gaming...</h2>

</div>
    
<div id = "trending">

<h3>Trending on Mung Gaming...</h3>

    

</div>
    
<div id = "genre">

    <h3> [Genre] </h3>
    
    

</div>


<link rel = stylesheet href = "style.css">
    
</body>
</html>