<nav>
    <h1> Mung Gaming </h1>
    <img src="/static/images/evil%20mung.png" id = "evilMung" alt="Mung Gaming Logo" width="80" height="80">
    <br> <br>
    {% if session['username'] %}
    <a href="/user">USERS</a>
    <a href="/games">GAMES</a>
    <a href="/lists">LISTS</a>
    <a href="/game/add">ADD GAME</a>
    <a href="/profile">{{ session['username'] }}</a>
    <a href="/logout">Log-Out</a>
    {% else %}
    <a href="/login">Log-In</a>
    <a href="/register">Register</a>
    {% endif %}

</nav>