* {
    
    font-family:sans-serif;
    color:cornflowerblue;
}

nav {
    
    text-align: right;
    background-color: #081827;
}

body {
    
    background-color: #0E1118;
}
.titleContainer {
    
    height: 25%;
}
#trending {
    
    height: 25%;
}
#genre {
    
    height: 25%;
}

h1{
    
    text-align: left;
}

h2 {

    background-color: #081827;
    
}

h3{
    
    background-color: #081827;
    
}
#welcome {

height: 25%;

}

#genre {
    
    height: 25%;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
      
  }

.sideBar{

    width: 350px; 
    height: 800px; 
    border: 1px solid black; 
    margin: 0 auto;
    float:right; 
    background-color:#081827;
}


.formBox{
    padding-top: 10px;
    height: 100%; 
    width: 100%;
    text-align: center;
}


.error{

    color:red;

}
#uploadProfilePicture{

    height: 60%;
    width: auto;

}
a {
    color: cornflowerblue;
}

.gameAdd{

    border-color:cornflowerblue;

}

p {
 font-size: large;
 text-align:center;
}

input {
    width: 15%;
    height: auto;

}
.genreCreate{
    
    text-align:left;
    margin-right:0px;
}

input[type=checkbox]{

    text-align:left;


}

#checkboxDiv{
    
    width: 300px;
    margin:auto;
}


.submit{

    width: 75px;
    background-color:#081827;
    border-color: cornflowerblue;
}



